<div class=" w-full flex flex-col md:flex-row items-center">
  <div class="w-full py-8">

    <p class="text-white mb-10 leading-8">
      Hola, soy Gonzalo Jiménez, un joven <span class="font-semibold text-cyan-300">Programador Web Junior</span> recién graduado en <span class="font-semibold text-indigo-300">Diseño de Aplicaciones Web (DAW)</span>.
      
      Actualmente, estoy <span class="font-semibold text-yellow-300">ampliando mis conocimientos técnicos</span> para seguir formándome mientras busco una oportunidad en el sector como <span class="font-semibold text-lime-300">desarrollador Frontend o Backend</span>.
    </p>
    <p class="leading-8">
      Estoy emocionado por <span class="font-semibold text-pink-300">demostrar mis habilidades</span> y ver cómo el tiempo y el esfuerzo que he invertido <span class="font-semibold text-purple-300">dan sus frutos</span>.
      
      Cuento con un <span class="font-semibold text-green-300">nivel nativo de inglés</span> y resido en <span class="font-semibold text-orange-300">Sevilla, España</span>. Soy una persona activa, sociable y con mucha energía.
    </p>
  </div>
</div>